* {
    margin: 0;
    padding: 0;
}

$bg-color: white;

body {
    background: $bg-color;
    max-width: 1000px;
    margin: 0 auto;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea#linesInput {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}